<div class="row">
				<?php
				if ($announcements)	{
				?>
				<div id="announcements">
					<div class="container">
						<div class="row">
							<div class="col-lg-12">
							
								<div class="owl-nav">
									<a class="btn prev">Previous</a>
									<a class="btn next">Next</a>
								</div>
								
								<div style="width:95%;margin:auto;">
									<div class="owl-carousel">									
										<?php echo htmlspecialchars_decode($feed);?>									
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>			
				<?php } ?>
				<div id="links">
					<div class="container">
						<div class="row">
							<div class="col-lg-12">
								<div style="padding:10px;">
									<div class="col-lg-4">
										<h3>Quick Links</h3>
										<ul>
											<li><a href="/resources/27">For Families</a></li>
											<li><a href="/resources/14">For Providers</a></li>
											<li><a href="/resources/22">For Researchers</a></li>
											<li><a href="/ticket/submit">Submit a Ticket</a></li>
											<li><a href="/site-map">Site Map</a></li>
										</ul>
									</div>
									<div class="col-lg-4">
										<h3>Sponsors</h3>
										<ul>									
											<li><a href="http://www.montclair.edu/" target="_blank">Montclair State University</a></li>
											<li><a href="http://www.nj.gov/health/autism/" target="_blank">Governor's Council</a></li>
											<li><a href="http://www.nj.gov/health/" target="_blank">NJ Department of Health</a></li>
										</ul>
									</div>
									<div class="col-lg-4">
										<a href="http://www.montclair.edu" target="_blank"><img src="http://i.imgur.com/sh9Ykw2.jpg" style="width:290px;margin-bottom:5px;" alt="Montclair State Univversity" /></a><br />
										<a href="http://www.nj.gov/health/autism/" target="_blank"><img src="http://njace-cc.montclair.edu/img/Gov-Coun-logo.png" style="height: 100px;" alt="Governor\'s Council" /></a>
										<a href="http://www.nj.gov/health/" target="_blank"><img src="http://njace-cc.montclair.edu/img/nj-health.png" style="height: 50px;" alt="Governor\'s Council" /></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div id="copyright">
					<div class="container">
						<div class="row">
							<div class="col-lg-12">
								<div style="padding:10px;">
								Copyright &copy; 2013 <span class="pull-right">Back to Top <i class="glyphicon glyphicon-arrow-up icon-white"></i></span>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>