<div class="col-lg-3"></div>
<div class="col-lg-6">
	<div class="form-body">	
		<form method="POST" action="/log-hours">
			<div class="form-group">
				<h2 class="heading text-center">Log Hours For <?php echo $username ?></h2>
			</div>
			
			<div id="custom"> <!-- the div that all the ticket items are going to appear under it -->

			</div>
			
			<div class="form-group">
				<a id="add_hour" href="javascript:void()">Add more hours</a>
			</div>
			<!-- we have to give the buttons width (%) in order to expand them -->
			<div class="row">
				<div class="col-lg-6">
					<div class="form-group">
						<button style="width:100%"type="submit" name="log_hour" value="log hour" class="btn btn-success">Submit</button>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="form-group">
						<button id="cancel" style="width:100%"type="button" class="btn btn-default">Cancel</button>
					</div>
				</div>
			</div>
		</form>
	</div>	
</div>
<div class="col-lg-3"></div>


<?php echo  htmlspecialchars_decode($anotherHour);?>
<?php echo  htmlspecialchars_decode($deleteHour);?>
<?php echo  htmlspecialchars_decode($cancel);?>