<div class="col-lg-12">	
	<nav class="bg-heading navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#search-collapse" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<h4>
					&nbsp;
					<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
					<?php if ($canAdmin) {
					$headText = 'Manage Tickets';
					} else {
					$headText = 'View Tickets';
					}
					?>
					
					<strong> <?php echo $headText;?> <small><strong>(<?php echo $unresolved_tickets?> Unresolved)</strong></small></strong>
					
				</h4>
			</div>
			<div class="navbar-collapse collapse" id="search-collapse" aria-expanded="false" style="height: 1px;">
				<div class="navbar-form navbar-right">
					<div class="form-group">
						<input type="text" class="form-control searchbar" name="search" value="<?php echo $_GET['q']?>" placeholder="Search Ticket">
					</div>
					<div class="form-group">
						<button style="width:100%"type="submit" id="search1" value="search" class="btn btn-primary">Search</button>
					</div>
					&nbsp;&nbsp;
					<div class="form-group">
						<a id="filter" href="javascript:void()" >
							Filter <span class="caret"></span>
						</a>
					</div>
				</div>
				<!-- To append the filter options -->
				<div id="heading" style="padding-bottom:10px;">
					<div style="display:none;" id="fil">
						<div class="col-lg-8">
							<div class="form-group">
								<div class="row">
									<div class="col-lg-2">
										<b>Status:</b>
									</div>
									<div class="col-lg-10">
										<div class="btn-group btn-group-justified" id="status_filter" data-toggle="buttons">
											<label class="status_0 btn btn-default "><input type="checkbox">New &nbsp;<span aria-hidden="true" class="glyphicon glyphicon-info-sign"></span></label>
											<label class="status_1 btn btn-default"><input type="checkbox">In Progress &nbsp;<span aria-hidden="true" class="glyphicon glyphicon-eye-open"></span></label>
											<label class="status_2 btn btn-default"><input type="checkbox">Resolved &nbsp;<span aria-hidden="true" class="glyphicon glyphicon-ok"></span></label>
										</div>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="row">
									<div class="col-lg-2">
										<b>Priority:</b>
									</div>
									<div class="col-lg-10">
										<div class="btn-group btn-group-justified" id="priority_filter" data-toggle="buttons">
											<label class="priority_0 btn low"><input type="checkbox">Low</label>
											<label class="priority_1 btn medium"><input type="checkbox">Medium</label>
											<label class="priority_2 btn high"><input type="checkbox">High</label>
											<label class="priority_3 btn immediate"><input type="checkbox">Immediate</label>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<form method="POST" action="/ticket/view?search=date">
								<div class="form-group">
									<div class="row">
										<div class="col-lg-6 col-md-4 col-xs-4">
											<input type="text" class="form-control pickdate" name="from" value="<?php echo $_POST['from']?>" placeholder="From (mm/dd/yyyy)">
										</div>
										<div class="col-lg-6 col-md-4 col-xs-4">
											<input type="text" class="form-control pickdate" name="to" value="<?php echo $_POST['to']?>" placeholder="To (mm/dd/yyyy)">
										</div>
										<div class="col-lg-12 col-md-4 col-xs-4">
											<button style="width:100%"type="submit" id="search2" name="filter_date" value="date" class="btn btn-primary">Search</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
    </nav>

	<form method="POST" action="/">
		<div class="form-group">
			<div class="table-responsive"><!-- responsive table with scroll bar -->
				<table id="viewticket" class="table table-striped">
					<?php
						echo htmlspecialchars_decode($output);
					?>
				</table>
			</div>
		</div>
	</form>
</div>

<?php 
	if ($this->render(Base::instance()->get('editTicket')))
	{
		echo $this->render(Base::instance()->get('editTicket'));
	}
	else
	{
		echo Base::instance()->get('editTicket');
	};
?>

<?php echo  htmlspecialchars_decode($populate);?>
<?php echo  htmlspecialchars_decode($filtering);?>

