<!-- Modal -->
<form action="javascript:void()" id="addVideoForm" class="form-horizontal" >
	<div class="modal fade" id="addVideoModal" tabindex="-1" role="dialog" aria-labelledby="addVideoLabel" aria-hidden="true">
		<div class="modal-lg modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="addVideoLabel">Add a Video Link</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<div class="col-lg-3">
							<label class="form-label">Links</label>
							<a class="btn btn-xs btn-success youtubeLink">Add</a>
						</div>
						<div class="col-lg-9">
							<div class="form-group link_0">
								<div class="col-lg-10">
									<input class="form-control" type="text" placeholder="You Tube Link" value="" />
								</div>
							</div>
							<div class="links">
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div class="col-lg-6 text-left">&nbsp;</div>
					<div class="col-lg-6">
						<button class="btn btn-success" value="1" id="submitbutton" type="submit" name="addVideo">Add Links</button>
						<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>	