<div class="row">
			
				<div class="col-lg-6">
					<h3 style="font-size:26px;font-weight:600;">New Jersey Autism Research Center of Excellence</h3>
					<p><a href="http://www.nj.gov/health/autism/">The Governor's Council</a> for Medical Research and Treatment of Autism (Council) was created by State appropriation in 1999 and has been issuing research, clinical and educational enhancement grants since 2000. As detailed in P.L. 2007, c. 168, the Council is to establish an Autism Center of Excellence in the State.</p>
					<p>The role of the Coordinating Center at <a href="http://www.montclair.edu/" class="msucolor">Montclair State University</a> is to support and advance the mission of newly funded New Jersey Autism Center of Excellence (NJ ACE) clinical research sites. The NJ ACE Coordinating Center will provide common management and support functions to unify the NJ ACE Program Sites by serving as the voice of the NJ ACE and promoting the sharing of lessons learned and best practices in the conduct of clinical research.</p>
					<p><a href="2/njace-coordinating-center" class="m-btn blue">Learn More About the Coordinating Center</a></p>
					<br />
					<div id="infoLinks">
						<p class="lead">
							<a data-soon="Page for families" href="resources/27/for-families">For Families</a> | 
							<a data-soon="Page for practitioners" href="resources/14/for-providers">For Providers</a> | 
							<a data-soon="Page for researchers" href="resources/22/for-researchers">For Researchers</a>
						</p>
					</div>
				</div>
				<div class="col-lg-6">
					<div id="images" class="owl-carousel">
						<?php
							echo htmlspecialchars_decode($images);
						?>
					</div>
				</div>
				
			</div>